/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/clayland
/src/xserver-server-protocol.h
/src/xserver-protocol.c
/stamp-h1

.deps
*.o
